<h1 style="text-align:center">Data Science and Machine Learning Capstone Project</h1>
<img style="float:right" src="https://prod-edxapp.edx-cdn.org/static/edx.org/images/logo.790c9a5340cb.png">
<p style="text-align:center">IBM: DS0720EN</p>
<p style="text-align:center">Question 3 of 4</p>

1. [Problem Statement](#problem)
2. [Question 3](#question)
3. [Data Cleaning and Standardization](#wrangling)
4. [Analyzing and Visualizing](#analysis)
5. [Concluding Remarks](#conclusion)

<a id="problem"></a>
# Problem Statement
---

The people of New York use the 311 system to report complaints about the non-emergency problems to local authorities. Various agencies in New York are assigned these problems. The Department of Housing Preservation and Development of New York City is the agency that processes 311 complaints that are related to housing and buildings.

In the last few years, the number of 311 complaints coming to the Department of Housing Preservation and Development has increased significantly. Although these complaints are not necessarily urgent, the large volume of complaints and the sudden increase is impacting the overall efficiency of operations of the agency.

Therefore, the Department of Housing Preservation and Development has approached your organization to help them manage the large volume of 311 complaints they are receiving every year.

The agency needs answers to several questions. The answers to those questions must be supported by data and analytics. These are their  questions:

<a id="question"></a>
# Question 3
---

Does the Complaint Type that you identified in response to Question 1 have an obvious relationship with any particular characteristic or characteristic of the Houses?

## Approach
Determine how to link the NY311 data with the PLUTO data then identify whether or not there are any correlations between the HEAT/HOT WATER complaints from Question 1 to the PLUTO house information.

## Load Data
Separately from this notebook:

The [New York 311](https://data.cityofnewyork.us/Social-Services/311-Service-Requests-from-2010-to-Present/erm2-nwe9) data was loaded by [SODA](https://data.cityofnewyork.us/resource/fhrw-4uyv.csv?$limit=100000000&Agency=HPD&$select=created_date,unique_key,complaint_type,incident_zip,incident_address,street_name,address_type,city,resolution_description,borough,latitude,longitude,closed_date,location_type,status) into a Pandas DataFrame then saved to a pickle file.

The [New York PLUTO](https://data.cityofnewyork.us/City-Government/Primary-Land-Use-Tax-Lot-Output-PLUTO-/xuk2-nczf) data was downloaded.  The instructions at ( Course / 1. Project Challenge Details and Setup / Datasets Used in this Course / Datasets ) said "Use only the part that is specific to the borough that you are interested in based on your analysis."  My answer for Question 2 suggested the borough with the biggest HEAT/HOT WATER problem was BRONX.  For that reason, only the BX_18v1.csv file was loaded into a Pandas DataFrame then saved to a pickle file.

In [54]:
import pandas as pd
files_path = 'C:\\Users\\It_Co\\Documents\\DataScience\\Capstone\\' #local
#files_path = './' #IBM Cloud / Watson Studio
#pluto_columns = ['Address','BldgArea','BldgDepth','BuiltFAR','CommFAR','FacilFAR','Lot','LotArea','LotDepth','NumBldgs','NumFloors','OfficeArea','ResArea','ResidFAR','RetailArea','YearBuilt','YearAlter1','ZipCode','YCoord','XCoord']
df = pd.read_pickle(files_path + 'ny311full.pkl')
bx = pd.read_pickle(files_path + 'BX_18v1.pkl')
print(df.shape)
print(bx.shape)

(5862383, 15)
(89854, 20)

<a id="wrangling"></a>
# Data Cleaning and Standardization
---

Observations with missing or malformed data elements will need to be corrected or removed.  The NY 311 and the NY PLUTO data sets will need to be "joined" together by the common "address" element, which means the addresses will need to be standardized to a consistent layout to allow the addresses to be compared consistently.

## NY 311

### General

In [55]:
#Normalize relevant strings to uppercase so different casing won't appear as separate values.
df['incident_address'] = df['incident_address'].str.upper()
df['city'] = df['city'].str.upper()
df['borough'] = df['borough'].str.upper()
#We only care if it is the combined "heating and hot water" from Question 1, or some other type of complaint.
df.loc[df[df["complaint_type"].isin(["HEAT/HOT WATER","HEATING"])==True].index,'complaint_type'] = "HEAT/HOT WATER"
df.loc[df[df["complaint_type"].isin(["HEAT/HOT WATER","HEATING"])==False].index,'complaint_type'] = "OTHER"
#Print some initial information for comparison during later steps.
print(df.shape)
print(df.isnull().sum())
df.head()

(5862383, 15)
created_date                   0
unique_key                     0
complaint_type                 0
incident_zip               80611
incident_address           52831
street_name                52831
address_type               84775
city                       80210
resolution_description     13194
borough                        0
latitude                   80585
longitude                  80585
closed_date               123122
location_type                  0
status                         0
dtype: int64

,created_date,unique_key,complaint_type,incident_zip,incident_address,street_name,address_type,city,resolution_description,borough,latitude,longitude,closed_date,location_type,status
0,2019-09-28T20:31:44.000,43918968,OTHER,11435.0,141-40 PERSHING CRESCENT,PERSHING CRESCENT,ADDRESS,JAMAICA,The following complaint conditions are still o...,QUEENS,40.712047,-73.815983,NaN,RESIDENTIAL BUILDING,Open
1,2019-09-28T20:16:49.000,43917365,OTHER,11223.0,1702 WEST 1 STREET,WEST 1 STREET,ADDRESS,BROOKLYN,The following complaint conditions are still o...,BROOKLYN,40.606232,-73.974553,NaN,RESIDENTIAL BUILDING,Open
2,2019-09-28T16:10:10.000,43917912,HEAT/HOT WATER,11233.0,1711 FULTON STREET,FULTON STREET,ADDRESS,BROOKLYN,The complaint you filed is a duplicate of a co...,BROOKLYN,40.679340,-73.930435,NaN,RESIDENTIAL BUILDING,Open
3,2019-09-28T14:50:47.000,43918939,OTHER,10456.0,881 CAULDWELL AVENUE,CAULDWELL AVENUE,ADDRESS,BRONX,The following complaint conditions are still o...,BRONX,40.822361,-73.907267,NaN,RESIDENTIAL BUILDING,Open
4,2019-09-28T09:28:25.000,43916893,OTHER,11205.0,196 CLINTON AVENUE,CLINTON AVENUE,ADDRESS,BROOKLYN,The following complaint conditions are still o...,BROOKLYN,40.692252,-73.968649,NaN,RESIDENTIAL BUILDING,Open

### Standardize Borough
Leveraging findings found while standardizing during Question 2.

In [56]:
df['borough'].value_counts()

BROOKLYN         1692795
BRONX            1566246
MANHATTAN        1020161
UNSPECIFIED       873226
QUEENS            624323
STATEN ISLAND      85632
Name: borough, dtype: int64

In [57]:
import numpy as np
#Correct rows where borough was entered in the city column with "UNSPECIFIED" in the borough column.
five_boroughs = ["BROOKLYN","BRONX","MANHATTAN","QUEENS","STATEN ISLAND"]
which_rows_to_adjust = df[(df["borough"]=='UNSPECIFIED')&df["city"].isin(five_boroughs)].index
df.loc[which_rows_to_adjust,'borough']=df.loc[which_rows_to_adjust,'city']
df.loc[which_rows_to_adjust,'city']=np.nan
#Drop a few rows of ambiguous data.
df.drop(df[(df["borough"]=='MANHATTAN')&(df["city"]=='BRONX')].index, axis=0, inplace=True)
df.reset_index(drop=True, inplace=True)
#Fill in UNSPECIFIED borough when city was entered as NEW YORK.
which_rows_to_adjust = df[(df["borough"]=='UNSPECIFIED')&(df["city"]=='NEW YORK')].index
df.loc[which_rows_to_adjust,'borough']="MANHATTAN"
df.loc[which_rows_to_adjust,'city']=np.nan
#Although the city for most of the "NEW YORK" ones are the only ones that technically got the "city" column valued correctly,
#since every other row uses city as "neighborhood":  Standardize these.
which_rows_to_adjust = df[(df["city"]=='NEW YORK')].index
df.loc[which_rows_to_adjust,'city']=np.nan
#Any still unspecified boroughs with a value in "city" are in the Queens borough.  The "city" is actually a "neighborhood".
queens_neighborhoods = df[(df['borough']=='UNSPECIFIED')&(df['city'].isnull()==False)]['city'].unique()
#Standardize borough for Queens neighborhoods.
which_rows_to_adjust = df[(df["borough"]=='UNSPECIFIED')&df["city"].isin(queens_neighborhoods)].index
df.loc[which_rows_to_adjust,'borough']="QUEENS"
#Null the borough if it still shows up as unspecified borough as there is no other information from which to derive it.
which_rows_to_adjust = df[(df["borough"]=='UNSPECIFIED')&df["city"].isnull()].index
df.loc[which_rows_to_adjust,'borough']=np.nan

In [58]:
df['borough'].value_counts()

BROOKLYN         1988158
BRONX            1816914
MANHATTAN        1175218
QUEENS            728676
STATEN ISLAND      99998
Name: borough, dtype: int64

### Filter Borough

In [59]:
df.drop(df[(df["borough"]!='BRONX')].index, axis=0, inplace=True)
df.reset_index(drop=True, inplace=True)
df['borough'].value_counts()

BRONX    1816914
Name: borough, dtype: int64

### Remove unnecessary columns

In [60]:
#Remove columns deemed unnecessary for this question.
df.drop(['created_date','street_name','address_type','city','resolution_description','borough','latitude','longitude','closed_date','location_type','status','unique_key'], axis=1, inplace=True)
print(df.shape)
print(df.isnull().sum())
df.head()

(1816914, 3)
complaint_type         0
incident_zip        8083
incident_address       1
dtype: int64

   complaint_type  incident_zip       incident_address
0           OTHER       10456.0   881 CAULDWELL AVENUE
1  HEAT/HOT WATER       10457.0          4487 3 AVENUE
2           OTHER       10452.0  133 CLARKE PLACE EAST
3           OTHER       10453.0    2076 CRESTON AVENUE
4           OTHER       10471.0          6035 BROADWAY

In [61]:
# Drop the one observation with the missing address as there will be no way to tie it to any PLUTO data.
df.dropna(subset=['incident_address'], axis=0, inplace=True)
df.reset_index(drop=True, inplace=True)
print(df.isnull().sum())
df['incident_address'].value_counts().head()

complaint_type         0
incident_zip        8082
incident_address       0
dtype: int64

1025 BOYNTON AVENUE        9854
3810 BAILEY AVENUE         7171
750 GRAND CONCOURSE        4412
888 GRAND CONCOURSE        4271
3555 BRUCKNER BOULEVARD    4076
Name: incident_address, dtype: int64

## NY PLUTO

In [52]:
print(bx.shape)
print(bx.isnull().sum())
bx.head()

(89854, 20)
Lot              0
ZipCode        329
Address         69
LotArea          0
BldgArea         0
ResArea          0
OfficeArea       0
RetailArea       0
NumBldgs         0
NumFloors        0
LotDepth         0
BldgDepth        0
YearBuilt        0
YearAlter1       0
BuiltFAR         0
ResidFAR         0
CommFAR          0
FacilFAR         0
XCoord        3259
YCoord        3259
dtype: int64

,Lot,ZipCode,Address,LotArea,BldgArea,ResArea,OfficeArea,RetailArea,NumBldgs,NumFloors,LotDepth,BldgDepth,YearBuilt,YearAlter1,BuiltFAR,ResidFAR,CommFAR,FacilFAR,XCoord,YCoord
0,1,10454.0,122 BRUCKNER BOULEVARD,15000,0,0,0,0,1,0.0,200.0,0.0,0,0,0.00,6.02,5.0,6.5,1005957.0,232162.0
1,4,10454.0,126 BRUCKNER BOULEVARD,13770,752,0,272,0,2,1.0,100.0,16.0,1931,1994,0.05,6.02,5.0,6.5,1006076.0,232156.0
2,10,10454.0,138 BRUCKNER BOULEVARD,35000,39375,0,0,0,1,2.0,200.0,200.0,1931,0,1.13,6.02,5.0,6.5,1006187.0,232036.0
3,17,10454.0,144 BRUCKNER BOULEVARD,2500,12500,12500,0,0,1,5.0,100.0,85.0,1931,2001,5.00,6.02,5.0,6.5,1006299.0,232033.0
4,18,10454.0,148 BRUCKNER BOULEVARD,1875,8595,6876,0,1719,1,5.0,75.0,70.0,1920,2009,4.58,6.02,5.0,6.5,1006363.0,232040.0

### General

In [ ]:
#Normalize relevant strings to uppercase so different casing won't appear as separate values.
bx['Address'] = df['Address'].str.upper()
bx['city'] = df['city'].str.upper()
bx['borough'] = df['borough'].str.upper()

## Standardization of Addresses

## Using each data set to fill in missing items in the other.

<a id="analysis"></a>
# Analyzing and Visualizing
---

In [ ]:
df.complaint_type.isnull().sum()

<p style="color:Red;">None of the complaint types are null.</p>

In [ ]:
df['complaint_type'].describe()

<p style="color:Red;">HEAT/HOT WATER is the most common of the 29 unique complaint types, but closer examination is necessary to make a final answer to the question.</p>

In [ ]:
unique_types = df['complaint_type'].unique()
unique_types.sort()
unique_types

<p style="color:Red;">Some of these appear to be duplicate ways to represent the same thing.  The Open Data Page does not provide any clarification of these values, in case for example, water leaks should be lumped in with plumbing.  In a more real situation we could ask for such clarification.  If that was not available an analysis of whether apparent duplicates come from different Open_Data_Channel_Type could help formulate the best guess why there are apparent duplicates.</p>

In [ ]:
#Although we may need dummy values for later questions, for now just normalize the data in-place.
#Using best guess interpretation about which complaint types are equivalent to each other.
df['complaint_type'].replace('Appliance', 'APPLIANCE', inplace = True)
df['complaint_type'].replace('GENERAL CONSTRUCTION', 'CONSTRUCTION', inplace = True)
df['complaint_type'].replace('General', 'GENERAL', inplace = True)
df['complaint_type'].replace('HEATING', 'HEAT/HOT WATER', inplace = True)
df['complaint_type'].replace('Outside Building', 'OUTSIDE BUILDING', inplace = True)
df['complaint_type'].replace('PAINT - PLASTER', 'PAINT/PLASTER', inplace = True)
df['complaint_type'].replace('Plumbing', 'PLUMBING', inplace = True)
df['complaint_type'].replace('Safety', 'SAFETY', inplace = True)
df['complaint_type'].replace('Unsanitary Condition', 'UNSANITARY CONDITION', inplace = True)

In [ ]:
print(df['complaint_type'].describe())
unique_types = df['complaint_type'].unique()
unique_types.sort()
unique_types

<p style="color:Red;">Twenty complaint types after consolidating obvious duplicates.

In [ ]:
print (1 - 2040461.00 / 5862383.00) # taking values from the "describe" statement above.

<p style="color:Red;">HEAT/HOT WATER represents almost 2/3 of the complaints.</p>

In [ ]:
print(df["complaint_type"].value_counts())

<p style="color:Red;">The next two or three most common complaints combined happen less.</p>

<p style="color:Red;">Let's take a more visual look, just to double check.</p>

In [ ]:
#Plot a bar chart to show how many of each type of complaint.
%matplotlib inline
import matplotlib.pyplot as plt
totals = pd.DataFrame(df['complaint_type'].value_counts())
totals.plot(kind='bar', figsize=(10,6), rot=90)
plt.xlabel("Complaint Type")
plt.ylabel("Number of Complaints")
plt.title("Number of complaints by type")
plt.annotate('', xycoords='data', xy=(1, 2000000), xytext=(5, 1500000), arrowprops=dict(arrowstyle='->', connectionstyle='arc3', color='r', lw=2))
plt.show()

<p style="color:Red;">Clearly, nothing else comes close to HEAT/HOT WATER over the entire data set.</p>

<p style="color:Red;">Perhaps the top complaint changes over time and HEAT/HOT WATER is only the top one in aggregate?  Let's see if that has been the case by also looking at totals for each individual year.</p>

In [ ]:
#Add Year column.
def strleft(s):
    return s[0:4]
df['Year'] = df['created_date'].apply(strleft)

In [ ]:
#Determine unique list of years.
unique_years = df['Year'].unique()
unique_years.sort()

In [ ]:
#Calculate yearly totals
import numpy as np
yearly_totals = pd.DataFrame(index=unique_types, columns=unique_years)
for y in unique_years:
    values_this_year = df[df['Year']==y]['complaint_type'].value_counts()
    for i in values_this_year.index:
        yearly_totals.at[i,y] = values_this_year[i]
yearly_totals.replace(np.nan, 0, inplace = True)
yearly_totals = yearly_totals.transpose()

In [ ]:
#Plot the number of complaints by type and year.
yearly_totals.plot(kind="line")
plt.title('Complaints Over the Years')
plt.ylabel('Number of Complaints')
plt.xlabel('Year')
plt.legend(bbox_to_anchor=(1.05,1))
plt.show()

<p style="color:Red;">The top complaint type consistently every year is HEAT/HOT WATER.</p>

<p style="color:Red;">All the totals drop off at the end.  This is because the data set is updated every day, but the final year 2019 is still in progress with almost three months to go.</p>

<a id="conclusion"></a>
# Concluding Remarks
---

The HEAT/HOT WATER (including HEATING) complaint type identified in Question 1 as the most prevalent complaint type has (or does not have any????) an obvious relationship with the XXX house characteristics: