<h1 style="text-align:center">Data Science and Machine Learning Capstone Project</h1>
<img style="float:right" src="https://prod-edxapp.edx-cdn.org/static/edx.org/images/logo.790c9a5340cb.png">
<p style="text-align:center">IBM: DS0720EN</p>
<p style="text-align:center">Question 2 of 4</p>

1. [Problem Statement](#problem)
2. [Question 2](#question)
3. [Analyzing and Visualizing](#analysis)
4. [Concluding Remarks](#conclusion)

<a id="problem"></a>
## Problem Statement
---

The people of New York use the 311 system to report complaints about the non-emergency problems to local authorities. Various agencies in New York are assigned these problems. The Department of Housing Preservation and Development of New York City is the agency that processes 311 complaints that are related to housing and buildings.

In the last few years, the number of 311 complaints coming to the Department of Housing Preservation and Development has increased significantly. Although these complaints are not necessarily urgent, the large volume of complaints and the sudden increase is impacting the overall efficiency of operations of the agency.

Therefore, the Department of Housing Preservation and Development has approached your organization to help them manage the large volume of 311 complaints they are receiving every year.

The agency needs answers to several questions. The answers to those questions must be supported by data and analytics. These are their  questions:

<a id="question"></a>
## Question 2
---

Should the Department of Housing Preservation and Development of New York City focus on any particular set of boroughs, ZIP codes, or street (where the complaints are severe) for the specific type of complaints you identified in response to Question 1?

### Approach
Analyze the data to see if there is a higher correlation between the HEATING complaints and any particular borough, ZIP code, or street.

### Load Data
Separately the [New York 311](https://data.cityofnewyork.us/Social-Services/311-Service-Requests-from-2010-to-Present/erm2-nwe9) data was loaded by [SODA](https://data.cityofnewyork.us/resource/fhrw-4uyv.csv?$limit=100000000&Agency=HPD&$select=created_date,unique_key,complaint_type,incident_zip,incident_address,street_name,address_type,city,resolution_description,borough,latitude,longitude,closed_date,location_type,status) into a Pandas DataFrame then saved to a pickle file.

In [64]:
import pandas as pd
df = pd.read_pickle('C:\\Users\\It_Co\\Documents\\DataScience\\Capstone\\ny311full.pkl') # Local
#df = pd.read_pickle('./ny311.pkl') #IBM Cloud / Watson Studio
df.shape

(5862383, 15)

<a id="analysis"></a>
### Analyzing and Visualizing
---

#### Reduce data to relevant rows and columns

In [65]:
#Remove rows that were not for the complaint types identified in question one.
df.drop(df[df["complaint_type"].isin(["HEAT/HOT WATER","HEATING"])==False].index, inplace=True)
#Double check that the correct rows were removed.
df['complaint_type'].value_counts()

HEAT/HOT WATER    1152592
HEATING            887869
Name: complaint_type, dtype: int64

In [66]:
#Remove columns deemed unnecessary for this question.
df.drop(['created_date','complaint_type','resolution_description','closed_date','location_type','status','address_type'], axis=1, inplace=True)
df.shape

(2040461, 8)

#### Wrangle (Clean) the data

##### Identify and handle missing values

In [67]:
#See if any data is null.
df.isnull().sum()

unique_key              0
incident_zip        18970
incident_address        1
street_name             1
city                18843
borough                 0
latitude            18966
longitude           18966
dtype: int64

<p style="color:Red;"><b>Analysis</b>:  There are three items the question hinges upon:  ZIP Code, Borough, and Street.</p>

In [68]:
#There were some null zip codes.  Examine them more closely.
df[df['incident_zip'].isnull()==True].describe(include="all")

,unique_key,incident_zip,incident_address,street_name,city,borough,latitude,longitude
count,18970,0.0,18969,18969,127,18970,4.000000,4.000000
unique,18970,NaN,8306,2205,2,6,NaN,NaN
top,24973466,NaN,34 ARDEN STREET,GRAND CONCOURSE,QUEENS,BRONX,NaN,NaN
freq,1,NaN,232,365,121,5957,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,40.724393,-73.849776
std,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000
min,NaN,NaN,NaN,NaN,NaN,NaN,40.724393,-73.849776
25%,NaN,NaN,NaN,NaN,NaN,NaN,40.724393,-73.849776
50%,NaN,NaN,NaN,NaN,NaN,NaN,40.724393,-73.849776
75%,NaN,NaN,NaN,NaN,NaN,NaN,40.724393,-73.849776
max,NaN,NaN,NaN,NaN,NaN,NaN,40.724393,-73.849776

<p style="color:Red;"><b>Decision</b>:  There is nothing "worth the trouble" in the data upon which to try to fill in the missing zip codes.  If these 18K rows were deemed super important, a library for looking up a zip code based on an address would be necessary.  Because these rows still have Borough, don't drop the row.  Just leave them as NaN values.</p>

In [69]:
# Let's take a look at the one row with the missing street.
df[df["street_name"].isnull()]

,unique_key,incident_zip,incident_address,street_name,city,borough,latitude,longitude
251660,21833329,NaN,NaN,NaN,NaN,BRONX,NaN,NaN

<p style="color:Red;"><b>Decision</b>:  There is nothing in the data upon which to base a guess to the street.  In order to keep anticipated later standardization of the street_name simpler, get rid of the null row.</p>

In [70]:
# Drop it.
df.drop(df[df["street_name"].isnull()].index, axis=0, inplace=True)

##### Standardize values from different sources into the same format, units, or convention
I'm going to go a little overboard here, well past the point of diminishing returns.  Just for practice.

<p style="color:Red;"><b>Decision</b>:  While looking for null values, I noticed there were rows with the city missing.  How could the city ever be missing, when the borough is filled in?  Let's explore the data to answer this question.</p>

In [71]:
#Normalize all strings to uppercase so different casing won't appear as separate values.
df['incident_address'] = df['incident_address'].str.upper()
df['street_name'] = df['street_name'].str.upper()
df['city'] = df['city'].str.upper()
df['borough'] = df['borough'].str.upper()

In [72]:
df['borough'].value_counts()

BRONX            569959
BROOKLYN         543166
MANHATTAN        398552
UNSPECIFIED      282917
QUEENS           228447
STATEN ISLAND     17419
Name: borough, dtype: int64

<p style="color:Red;">The expected five boroughs, but then also:  UNSPECIFIED.  What does that mean?</p>

In [73]:
df[df["borough"]=="UNSPECIFIED"]["city"].value_counts()

BROOKLYN               93388
BRONX                  88585
NEW YORK               59095
JAMAICA                 5020
STATEN ISLAND           3462
ASTORIA                 3381
FLUSHING                3154
RIDGEWOOD               2273
FAR ROCKAWAY            2040
WOODSIDE                1773
ELMHURST                1696
JACKSON HEIGHTS         1479
CORONA                  1398
FOREST HILLS            1340
REGO PARK               1134
SOUTH RICHMOND HILL     1005
QUEENS VILLAGE           928
SUNNYSIDE                877
OZONE PARK               835
RICHMOND HILL            778
HOLLIS                   776
WOODHAVEN                770
EAST ELMHURST            752
SPRINGFIELD GARDENS      675
SAINT ALBANS             660
SOUTH OZONE PARK         606
KEW GARDENS              599
ARVERNE                  589
LONG ISLAND CITY         454
ROSEDALE                 416
OAKLAND GARDENS          397
MASPETH                  363
ROCKAWAY PARK            361
BAYSIDE                  236
COLLEGE POINT            225
FRESH MEADOWS            225
MIDDLE VILLAGE           221
LITTLE NECK              159
WHITESTONE               139
HOWARD BEACH             127
CAMBRIA HEIGHTS          127
GLEN OAKS                 56
BELLEROSE                 45
FLORAL PARK               18
BREEZY POINT               6
QUEENS                     3
NEW HYDE PARK              2
Name: city, dtype: int64

<p style="color:Red;"><b>Insight</b>:  When the borough is UNSPECIFIED it appears to mean that often either the borough <i>or even a "neighborhood" (a division below borough)</i> has been entered in the CITY column.  The city is actually "correct" with NEW YORK only 59K times.  The city column is a de-facto "neighborhood" column for the most part.</p>

<p style="color:Red;">Because borough is something further analysis will key from, standardize the data where possible.</p>

In [74]:
import numpy as np
#Correct rows where borough was entered in the city column with "UNSPECIFIED" in the borough column.
five_boroughs = ["BROOKLYN","BRONX","MANHATTAN","QUEENS","STATEN ISLAND"]
which_rows_to_adjust = df[(df["borough"]=='UNSPECIFIED')&df["city"].isin(five_boroughs)].index
df.loc[which_rows_to_adjust,'borough']=df.loc[which_rows_to_adjust,'city']
df.loc[which_rows_to_adjust,'city']=np.nan

<p style="color:Red;">Almost 200K previously "UNSPECIFIED" rows will now show up under the correct borough during later analysis.</p>

In [75]:
#See if all the boroughs encompassed when the CITY is showing up as "New York"
df[df['city']=='NEW YORK']['borough'].value_counts()

MANHATTAN      393941
UNSPECIFIED     59095
Name: borough, dtype: int64

In [76]:
#See if all the MANHATTAN borough entries filled in the CITY as "New York" if if they sometimes have "neighborhood".
df[df['borough']=='MANHATTAN']['city'].value_counts()

NEW YORK    393941
BRONX            9
Name: city, dtype: int64

<p style="color:Red;"><b>Decision</b>:  Some data entered very oddly with BRONX as the city and MANHATTAN as the borough.  Ambiguous and only 9 rows out of millions, so drop the data so it won't confuse further analysis.</p>

In [77]:
print(df.shape) #before
#Drop a few rows of ambiguous data.
df.drop(df[(df["borough"]=='MANHATTAN')&(df["city"]=='BRONX')].index, axis=0, inplace=True)
print(df.shape) #after

(2040460, 8)
(2040451, 8)

<p style="color:Red;"><b>Decision</b>:  There are almost 400K rows with city as NEW YORK and the borough is MANHATTAN.  The other 59K rows with city NEW YORK has UNSPECIFIED as the borough.  Assume the borough is also MANHATTAN for those.</p>

In [78]:
#Fill in UNSPECIFIED borough when city was entered as NEW YORK.
which_rows_to_adjust = df[(df["borough"]=='UNSPECIFIED')&(df["city"]=='NEW YORK')].index
df.loc[which_rows_to_adjust,'borough']="MANHATTAN"
df.loc[which_rows_to_adjust,'city']=np.nan

In [79]:
#Although the city for most of the "NEW YORK" ones are the only ones that technically got the "city" column valued correctly,
#since every other row uses city as "neighborhood":  Standardize these.
which_rows_to_adjust = df[(df["city"]=='NEW YORK')].index
df.loc[which_rows_to_adjust,'city']=np.nan

In [80]:
#Double check how many unspecified boroughs.
df['borough'].value_counts()

BRONX            658544
BROOKLYN         636554
MANHATTAN        457638
QUEENS           228450
UNSPECIFIED       38384
STATEN ISLAND     20881
Name: borough, dtype: int64

<p style="color:Red;"><b>Decision</b>:  There are still 38K rows with unspecified boroughs, but the neighborhoods are in the city column, so use them to map to boroughs.</p>

In [81]:
#See the neighborhoods of the still unspecified boroughs.
neighborhoods = df[(df['borough']=='UNSPECIFIED')&(df['city'].isnull()==False)]['city'].unique()
neighborhoods.sort()
neighborhoods

array(['ARVERNE', 'ASTORIA', 'BAYSIDE', 'BELLEROSE', 'BREEZY POINT',
       'CAMBRIA HEIGHTS', 'COLLEGE POINT', 'CORONA', 'EAST ELMHURST',
       'ELMHURST', 'FAR ROCKAWAY', 'FLORAL PARK', 'FLUSHING',
       'FOREST HILLS', 'FRESH MEADOWS', 'GLEN OAKS', 'HOLLIS',
       'HOWARD BEACH', 'JACKSON HEIGHTS', 'JAMAICA', 'KEW GARDENS',
       'LITTLE NECK', 'LONG ISLAND CITY', 'MASPETH', 'MIDDLE VILLAGE',
       'NEW HYDE PARK', 'OAKLAND GARDENS', 'OZONE PARK', 'QUEENS VILLAGE',
       'REGO PARK', 'RICHMOND HILL', 'RIDGEWOOD', 'ROCKAWAY PARK',
       'ROSEDALE', 'SAINT ALBANS', 'SOUTH OZONE PARK',
       'SOUTH RICHMOND HILL', 'SPRINGFIELD GARDENS', 'SUNNYSIDE',
       'WHITESTONE', 'WOODHAVEN', 'WOODSIDE'], dtype=object)

<p style="color:Red;"><b>Insight</b>:  Checking https://en.wikipedia.org/wiki/List_of_Queens_neighborhoods show all but NEW HYDE PARK are in QUEENS.</p>

<p style="color:Red;"><b>Decision</b>:  NEW HYDE PARK isn't in any borough but is right on the border with QUEENS, and had only 2 complaints, so just consider it within QUEEENS.</p>

In [82]:
#Fix rows with unspecified borough but with a neighborhood (in the city column) that indicates it is in QUEEENS.
which_rows_to_adjust = df[(df["borough"]=='UNSPECIFIED')&df["city"].isin(neighborhoods)].index
df.loc[which_rows_to_adjust,'borough']="QUEENS"
df['borough'].value_counts()

BRONX            658544
BROOKLYN         636554
MANHATTAN        457638
QUEENS           266565
STATEN ISLAND     20881
UNSPECIFIED         269
Name: borough, dtype: int64

<p style="color:Red;"><b>Insight</b>:  The above will ultimately become the raw numbers to partially answer part of the the question.</p>

In [83]:
#Examine rows for those final 269 unspecified boroughs
df[df['borough']=='UNSPECIFIED'].describe()

       incident_zip  latitude  longitude
count           0.0       0.0        0.0
mean            NaN       NaN        NaN
std             NaN       NaN        NaN
min             NaN       NaN        NaN
25%             NaN       NaN        NaN
50%             NaN       NaN        NaN
75%             NaN       NaN        NaN
max             NaN       NaN        NaN

<p style="color:Red;"><b>Decision</b>:  Nothing "worth the trouble" to base further adjustments on for only 269 rows.  Set the borough to null on these rows so that they will not skew any subsequent analysis that examines borough.</p>

In [84]:
#Fix rows with unspecified borough and no other practical information from which to derive it.
which_rows_to_adjust = df[(df["borough"]=='UNSPECIFIED')&df["city"].isnull()].index
df.loc[which_rows_to_adjust,'borough']=np.nan

In [85]:
#Fix rows with city (neighborhood) equal to borough
which_rows_to_adjust = df[(df["borough"]==df["city"])].index
df.loc[which_rows_to_adjust,'city']=np.nan

In [86]:
#Fix rows with city that started off null or was adjusted subsequently to be null
which_rows_to_adjust = df[df["city"].isnull()].index
df.loc[which_rows_to_adjust,'city']="Unspecified"

<p style="color:Red;">At this point borough is reasonably populated with all the UNSPECIFIED and weird cases standardized.</p>

In [87]:
#Learn the nature of the zip code data.
print(df[(df['incident_zip'].isnull()==True)].shape)
print(df[(df['incident_zip'].isnull()==False)].shape)
print(df[(df['incident_zip'].isnull()==False)&(df['incident_zip'] % 1.0 == 0.0)].shape)
print(df[(df['incident_zip']<10000.0)].shape)
print(df[(df['incident_zip']>99999.0)].shape)
print(df[(df['incident_zip']>9999.0)&(df['incident_zip']<100000.0)].shape)

(18969, 8)
(2021482, 8)
(2021482, 8)
(0, 8)
(0, 8)
(2021482, 8)

<p style="color:Red;"><b>Insight</b>:  The zip codes are all float64.  All of them have zero after the decimal point.  They are all five digits before the decimal point.  Almost 19K of the 2 Million+ rows are null.</p>

<p style="color:Red;">The question calls for using street too.</p>

In [88]:
df['street_name'].value_counts()

GRAND CONCOURSE             35960
BROADWAY                    23497
OCEAN AVENUE                17882
ARDEN STREET                15841
MORRIS AVENUE               15792
ST NICHOLAS AVENUE          14945
AMSTERDAM AVENUE            11844
ELMHURST AVENUE             10946
BOYNTON AVENUE              10809
DR M L KING JR BOULEVARD    10037
OCEAN PARKWAY                9965
WALTON AVENUE                9579
BAILEY AVENUE                9561
RIVERSIDE DRIVE              9189
LINDEN BOULEVARD             9173
SEDGWICK AVENUE              9111
DECATUR AVENUE               9095
NOSTRAND AVENUE              8826
CRESTON AVENUE               8683
SHERMAN AVENUE               7885
BEDFORD AVENUE               7530
SHERIDAN AVENUE              7502
EASTERN PARKWAY              7424
3 AVENUE                     7323
WALLACE AVENUE               7287
2 AVENUE                     7172
DAVIDSON AVENUE              6840
FT WASHINGTON AVENUE         6698
NEW YORK AVENUE              6663
VALENTINE AVENUE             6565
                            ...
EDGERTON BOULEVARD              1
OUTERBRIDGE AVENUE              1
VANSICLEN AVENUE                1
BRIGHTON    2 LANE              1
ELWOOD AVENUE                   1
RAVENHURST AVENUE               1
SWAIM AVENUE                    1
LYNHURST AVENUE                 1
IRWIN STREET                    1
5 AVE                           1
DUMFRIES PLACE                  1
BRADEY AVENUE                   1
CLARKE PLACE                    1
GUNNISON COURT                  1
LORING AVE                      1
HARPER STREET                   1
FITCHETT STREET                 1
BRIGHTON    1 LANE              1
BACHE STREET                    1
DOOLEY STREET                   1
AVENUE ST JOHNS                 1
PAERDEGAT    4 STREET           1
SOUTH MANN AVENUE               1
HULL                            1
WEST 263 STREET                 1
KINGHORN STREET                 1
E191 ST                         1
E 78 ST                         1
BURNETT PLACE                   1
PROVOST AVENUE                  1
Name: street_name, Length: 5979, dtype: int64

<p style="color:Red;"><b>Insight</b>:  Before any attempt at standardization, there are 5979 distinct street_name values in the data.  There does not appear to be much standardization in the data.

<p style="color:Red;"><b>Goal</b>:  Standardize the street names so different representations of the same street are all counted into the same totals.

<p style="color:Red;"><b>Insights</b></p>
<p>This section will be added to over and over again with any insights gleaned during the running of cells in the subsequent "Work area" section.  This section is placed ahead of that one because sometimes the insights will usually be captured in the form of coded lists or even function definitions which will be re-run every time they change.</p>

In [204]:
# Some street values have multiple spaces in a row.
import re
def standardize_spaces(raw):
    result = raw.strip() #Remove leading and trailing spaces.
    result = re.sub(' +', ' ', result) #Squeeze multiple adjacent spaces into just one space.
    return result

In [205]:
# Some streets have problematic characters.  For example:  ST. ANN'S AVENUE also exists without period or apostophe.
problem_characters = ['.', '\'']
def replace_problem_characters(raw):
    result = raw
    for (character) in problem_characters:
        result = result.replace(character,'')
    return result

In [206]:
#Streets are not always called a street.
street_suffixes = [
    "STREET","AVENUE","BOULEVARD","PLACE","ROAD","PARKWAY","CONCOURSE","DRIVE",
    "TERRACE","HIGHWAY","PARK","EXPRESSWAY","SQUARE","PLAZA","OVAL","CRESCENT",
    "LANE","COURT","EXTENSION","TURNPIKE", "LOOP", "ESTATE", "WAY"]

In [207]:
#Streets often have a directional element
street_directionals = ["SOUTH","NORTH","EAST","WEST","SOUTHWEST","NORTHWEST","SOUTHEAST","NORTHEAST"]

In [208]:
#Some words that are entered in a non-standard way or with typos need to be standardized.
word_replacements = [
    ("AVE","AVENUE"),
    ("ST","STREET"),
    ("RD","ROAD"),
    ("FT","FORT"),
    ("BX","BRONX"),
    ("MT","MOUNT"),
    ("NICHLAS","NICHOLAS"),
    ("NICHALOS","NICHOLAS"),
    ("EXPRE","EXPRESSWAY"),
    ("HARACE","HORACE"),
    ("NO","NORTH"), 
    ("AV","AVENUE"), 
    ("CRK","CREEK"),
    ("FR","FATHER"),
    ("JR","JUNIOR"),
    ("GR","GRAND"),
    ("CT","COURT"),
    ("SR",""), # Service Road.  These are always near a similarly named street.
    ("QN","QUEENS"),
    ("ND",""), # A space between a number and ND such as EAST 52 ND STREET
    ("PO","POND"),
    ("BO","BOND"),
    ("GRA","GRAND"),
    ("REV","REVEREND"),
    ("CO-OP","COOP"),
    ("GRANDCONCOURSE", "GRAND CONCOURSE"),
    ("CENTRL", "CENTRAL"),
    ("BLVD","BOULEVARD"),
    ("FREDRICK", "FREDERICK"),
    ("DOUGLAS", "DOUGLASS"),
    ("MALCOM", "MALCOMN"),
    ("NORTHEN", "NORTHERN"),
    ("AVNEUE","AVENUE")
]

def replace_words(raw):
    split_raw = raw.split()
    for (old, new) in word_replacements:
        found_at_index = next((i for i, x in enumerate(split_raw) if x==old), None)
        if found_at_index!=None:
            split_raw[found_at_index] = new
            return standardize_spaces(" ".join(split_raw))
    return raw

In [209]:
#Abbreviations that are sometimes not abbreviations.  Example:  AVENUE N.
abbreviation_replacements = [
    ("N","NORTH"),
    ("S","SOUTH"),
    ("E","EAST"),
    ("W","WEST"),
    ("SW","SOUTHWEST"),
    ("NW","NORTHWEST"),
    ("SE","SOUTHEAST"),
    ("NE","NORTHEAST")
]

def replace_tricky_abbreviations(raw):
    split_raw = raw.split()
    if len(split_raw)!=2:  # AVENUE N, E STREET, etc.
        for (old, new) in abbreviation_replacements:
            found_at_index = next((i for i, x in enumerate(split_raw) if x==old), None)
            if found_at_index!=None:
                split_raw[found_at_index] = new
                return " ".join(split_raw)
    return raw

In [210]:
#Some words are actually prefixes of the following word.
word_prefixes = ["DE","MC","LA","VAN","MAC","CO"]

def concatenate_prefixes(raw):
    split_raw = raw.split()
    last_word = len(split_raw) - 1
    for (prefix) in word_prefixes:
        found_at_index = next((i for i, x in enumerate(split_raw) if x==prefix), None)
        if found_at_index!=None:
            if len(split_raw)>1:
                if found_at_index != last_word:
                    split_raw[found_at_index] = ''
                    split_raw[found_at_index+1] = prefix + split_raw[found_at_index+1]
                    return standardize_spaces(" ".join(split_raw))
    return raw

In [211]:
#Some phrases need custom replacement because they involve words that individually would be mis-interpretted.
phrase_replacements = [
    ("DR M L KING JR","MARTIN LUTHER KING"),
    ("DR MARTIN L KING","MARTIN LUTHER KING"),
    ("MARTIN LUTHER KING","MARTIN LUTHER KING"),
    ("MARTIN L KING JR","MARTIN LUTHER KING"),
    ("MARTIN L KING","MARTIN LUTHER KING"),
    ("ST NICHOLAS","SAINT NICHOLAS"),
    ("ST JOHN","SAINT JOHN"),
    ("ST MARK","SAINT MARK"),
    ("ST ANN","SAINT ANN"),
    ("ST LAWRENCE","SAINT LAWRENCE"),
    ("ST PAUL","SAINT PAUL"),
    ("ST PETER","SAINT PETER"),
    ("ST RAYMOND","SAINT RAYMOND"),
    ("ST THERESA","SAINT THERESA"),
    ("ST FELIX","SAINT FELIX"),
    ("ST MARY","SAINT MARY"),
    ("ST OUEN","SAINT OUEN"),
    ("ST JAMES","SAINT JAMES"),
    ("ST GEORGE","SAINT GEORGE"),
    ("ST EDWARD","SAINT EDWARD"),
    ("ST CHARLES","SAINT CHARLES"),
    ("ST FRANCIS","SAINT FRANCIS"),
    ("ST ANDREW","SAINT ANDREW"),
    ("ST JUDE","SAINT JUDE"),
    ("ST LUKE","SAINT LUKE"),
    ("ST JOSEPH","SAINT JOSEPH"),
    ("N D PERLMAN","NATHAN PERLMAN"),
    ("O BRIEN","OBRIEN"),
    ("F D R","FDR"),
    ("EXPRESSWAY N SR","EXPRESSWAY SR N"),
    ("HOR HARDING","HORACE HARDING"),
    ("SERVICE ROAD",""), # These are always near a similarly named street
    ("DUMMY",""),
    ("ADAM C POWELL","ADAM CLAYTON POWELL"),
    ("POWELL COVE","POWELLS COVE")
]

def replace_phrases(raw):
    result = raw
    for (old,new) in phrase_replacements:
        result = standardize_spaces(result.replace(old,new))
    return result

In [212]:
# 1ST, 2ND, 3RD, 4TH, ... nTH
number_suffixes = ["ST","ND","RD","TH"]
digits=["1","2","3","4","5","6","7","8","9","0"]
def remove_number_suffixes(raw):
    split_raw = raw.split()
    for suffix in number_suffixes:
        found_at_index = next((i for i, x in enumerate(split_raw) if x[0] in digits and x.endswith(suffix)), None) 
        if found_at_index!=None:            
            split_raw[found_at_index] = split_raw[found_at_index][:-2]
            return standardize_spaces(" ".join(split_raw))
    return raw

In [225]:
# The different words of each address can be essentially the same but in different orders.  Standardize the order.
#
# A:  All Numbers, in numerical order.
# B:  All Street Suffixes, in alphabetical order.
# C:  All Directionals, in alphabetical order.
# D:  All other words, in alphabetical within descending word length order.
#
# The above in this sequence:  B, A, D, C

def alphabetical_within_word_length(raw):
    return "{:03d}".format(999-len(raw)) + raw

def standardize_word_order(raw):
    numbers = []
    suffixes = []
    directionals = []
    other = []
    words = raw.split()
    for word in words:
        if word.isdigit()==True:
            numbers.append(word)
        elif word in street_suffixes:
            suffixes.append(word)
        elif word in street_directionals:
            directionals.append(word)
        else:
            other.append(word)
        numbers.sort()
        suffixes.sort()
        directionals.sort()
        other.sort(key=alphabetical_within_word_length)
    result = []
    result.extend(suffixes)
    result.extend(numbers)
    result.extend(other)
    result.extend(directionals)
    return standardize_spaces(" ".join(result))

<p style="color:Red;"><b>Standardize Function</b></p>
<p>This function will be built up gradually as insights are gained.  Ultimately resulting in a single function that will standardize a street name.</p>

In [234]:
def standardize_street(street):
    r = street
    r = standardize_spaces(r)
    r = replace_problem_characters(r)
    r = replace_phrases(r)
    r = replace_words(r)
    r = replace_tricky_abbreviations(r)
    r = concatenate_prefixes(r)
    r = remove_number_suffixes(r)
    r = standardize_word_order(r)
    return r

<p style="color:Red;"><b>Work area</b></p>
<p>The following sections will be run over and over again, not necessarily in order.  Each time with modifications to filter out words already considered, or to drill into a specific case under consideration for further insights.  Each time, the insights gained will be applied within the "Insights" section above.</p>

In [235]:
#Utility functions to use with the Pandas DataFrame "apply" function for filtering out very specific sets of data.

def is_word_present(x, word):
    split_x = x.split()
    if word in split_x:
        return True
    else:
        return False

def is_either_word_present(x, w1, w2):
    if is_word_present(x,w1):
        return True
    if is_word_present(x,w2):
        return True    
    return False    
    
def is_not_last_word(x, word):
    split_x = x.split()
    last_word = len(split_x) - 1
    if word!=last_word:
        return True
    else:
        return False
    
def is_word_present_but_not_last(x, word):
    if is_word_present(x,word):
        if is_not_last_word(x,word):
            return True
    return False

def is_small_alpha_word_present(x, size):
    split_x = x.split()
    for a in split_x:
        if len(a)==size:
            if a.isalpha():
                return True
    return False

def any_word_start_with(x, front):
    split_x = x.split()
    for a in split_x:
        if a.startswith(front):
            return True
    return False

In [236]:
#Standardize what we can
df['standardized_street_name'] = df['street_name'].apply(standardize_street)

In [101]:
#Examine the partially standardized results to gain more insights.
#The following cell needs to change often.  Only the most common types of lines are shown.

In [284]:
#5142 with order standardization.  Only gained 3 from 5145, but easier to examine them to find other patterns.
df['standardized_street_name'].value_counts()
#df[df['standardized_street_name'].apply(is_small_alpha_word_present, args=(4,))]['standardized_street_name'].value_counts()
#df[df['standardized_street_name'].apply(is_word_present, args=("COOP",))]['standardized_street_name'].value_counts()
#df[df['standardized_street_name'].apply(is_either_word_present, args=("SE","SOUTHEAST",))]['standardized_street_name'].value_counts()
#df[df['standardized_street_name'].apply(xxx)]['standardized_street_name'].value_counts()

#df[df['standardized_street_name'].str.contains('ADAM')]['standardized_street_name'].value_counts()

#df[df['street_name'].str.contains('SOUTHWEST')]['street_name'].value_counts()

#uni = df[df['standardized_street_name'].str.startswith('AVENUE')]['standardized_street_name'].unique()
#uni.sort()uni.sort()
#for i in uni.astype(str):
#    print (i[7:])

CONCOURSE GRAND                 36247
BROADWAY                        23497
AVENUE OCEAN                    17882
STREET ARDEN                    15841
AVENUE MORRIS                   15793
AVENUE NICHOLAS SAINT           14945
AVENUE AMSTERDAM                11845
AVENUE ELMHURST                 10947
AVENUE BOYNTON                  10809
BOULEVARD LUTHER MARTIN KING    10244
PARKWAY OCEAN                    9965
AVENUE WALTON                    9579
AVENUE BAILEY                    9561
DRIVE RIVERSIDE                  9189
BOULEVARD LINDEN                 9173
AVENUE SEDGWICK                  9111
AVENUE DECATUR                   9095
AVENUE NOSTRAND                  8826
AVENUE CRESTON                   8684
AVENUE SHERMAN                   7885
AVENUE BEDFORD                   7531
AVENUE SHERIDAN                  7504
PARKWAY EASTERN                  7424
AVENUE 3                         7323
AVENUE WALLACE                   7287
AVENUE DEKALB                    7180
AVENUE 2                         7172
AVENUE DAVIDSON                  6840
AVENUE WASHINGTON FORT           6703
AVENUE YORK NEW                  6663
                                ...
PLACE 42                            1
AVENUE KENWOOD                      1
COURT 1                             1
AVENUE BAYRIDGE                     1
BOULEVARD AMSTEL                    1
STREET SANDGAP                      1
PLACE PONTIAC                       1
AVENUE OUTERBRIDGE                  1
PLACE 208                           1
AVENUE GURLEY                       1
STREET COOKE                        1
PLACE LISBON                        1
PLACE GRAY                          1
LANE SAMANTHA                       1
STREET ABBOT                        1
ROAD CAMBRIDGE                      1
AVENUE RHETT                        1
STREET 135 BEACH                    1
BOULEVARD POWELL COVE               1
TERRACE 73                          1
TERRACE FIELDSTONE                  1
CRESCENT DIETERLE                   1
STREET GREENPORT                    1
AVENUE CORONA NORTH                 1
COURT 235                           1
LANE MIMOSA                         1
WAY CORAL REEF                      1
ROAD FOREST                         1
AVENUE TASP                         1
AVENUE EVA                          1
Name: standardized_street_name, Length: 5142, dtype: int64

In [166]:
#Get all of the individual words represented within the street_name column in a countable form.
words = list()
df['standardized_street_name'].str.split().apply(words.extend)
word_series = pd.Series(words)
counts = word_series.value_counts()
counts

AVENUE          869616
STREET          786742
EAST            248311
WEST            179604
BOULEVARD        76976
PLACE            76390
ROAD             59025
PARKWAY          48542
GRAND            44118
CONCOURSE        36884
SAINT            35200
OCEAN            28277
BROADWAY         24642
PARK             24258
NICHOLAS         17809
MORRIS           17225
SOUTH            16056
ARDEN            15847
DRIVE            15639
WASHINGTON       13737
NORTH            13426
BEACH            13079
AMSTERDAM        11845
3                11238
LINDEN           10995
BEDFORD          10988
ELMHURST         10947
TERRACE          10942
BOYNTON          10815
DECATUR          10775
                 ...
GLORIA               1
ALVERSON             1
COURTNEY             1
HASPEL               1
MARGARET             1
MARK                 1
NAVIGATOR            1
HUBERT               1
LAGUNA               1
MCCULLY              1
HAMLIN               1
LINDA                1
ASTER                1
WINDING              1
ALTON                1
ARIEL                1
LUGUER               1
RIVIERA              1
ZION                 1
PENNSYLVAN           1
BARUCH               1
266                  1
BARRY                1
ISABELLA             1
FLAGG                1
CHORNEYNESTE         1
JULIE                1
PERONA               1
MICHAEL              1
WHEATLEY             1
Length: 3084, dtype: int64

In [167]:
# Drop words that don't appear often enough to fuss with
counts.drop(counts[counts < 100].index, inplace=True) 
counts.shape

(1295,)

In [168]:
# Drop words that are ONLY numbers
counts.drop(counts[counts.index.str.isdigit()].index, inplace=True) 
counts.shape

(1050,)

In [185]:
#Examine groups of words in sorted order to detect ones that are probably different forms of the same word.
counts[counts.index.str.startswith("E")].sort_index()
#counts.sort_index()

EAGLE             546
EAST           248311
EASTBURN         1012
EASTCHESTER       278
EASTERN          8104
EBBITTS           143
ECHO              367
ECKFORD           232
EDEN              203
EDENWALD          111
EDGECOMBE        3672
EDISON            375
EDSON             238
EDWARD            682
EDWARDS           164
ELBERTSON         502
ELDER            1919
ELDERT           1157
ELDERTS           106
ELDRIDGE          912
ELIZABETH         624
ELK               345
ELLERY            121
ELLIOT           1142
ELLIOTT           124
ELLIS             548
ELLWOOD          1895
ELM               239
ELMHURST        10947
ELMWOOD           342
ELSMERE           429
ELTON            1307
ELY               209
EMMONS            743
EMPIRE           1984
END              3675
ERASMUS           893
ERICSON           516
ESPLANADE         461
ESSEX            1147
ETNA              524
EUCLID            590
EVELYN            168
EVERGREEN        2470
EXPRESSWAY       2756
EXTENSION         684
EYCK              122
dtype: int64

In [ ]:
# Went from 5979 to 5142 unique streets by standardizing to reduce different representations of the same street.

<p style="color:Red;">What standardizations can we do based on these insights?</p>

In [ ]:
df[df['street_name'].str.contains('CONCOURSE')]['street_name'].value_counts()

### Visualize data

In [ ]:
graph_width_max = df['borough'].value_counts().max()

In [ ]:
%matplotlib inline 
import matplotlib.pyplot as plt

In [ ]:
#Gather totals for graphic
totals_for_graph = df['borough'].value_counts()

In [ ]:
#Plot
totals_for_graph.plot(kind='barh', figsize=(13, 4), color='steelblue')
plt.xlim = (0, graph_width_max)
plt.xlabel('Number of complaints')
plt.title('HEATING / HOT WATER complaints by borough')
for index, value in enumerate(totals_for_graph): 
    label = format(int(value), ',') # format int with commas
    # place text at the end of bar (subtracting 47000 from x, and 0.1 from y to make it fit within the bar)
    plt.annotate(label, xy=(value - 47000, index - 0.10), color='white')
plt.show()

<a id="conclusion"></a>
## Concluding Remarks
---

xxx.

The Department of Housing Preservation and Development of New York City should focus on the following particular set of boroughs, ZIP codes, and streets (where the complaints are severe) for the "HEAT/HOT WATER" + "HEATING" complaint types:

<p style="color:Red;">xxx</p>

xxx