In [41]:
import pandas as pd
import numpy as np

In [42]:
#pd.read_csv()
#pd.read_csv(header=None) #for data with no header row.

#fill in the headers as things are read in.
headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]
df = pd.read_csv("auto.csv", header=None, names=headers)

In [43]:
#How to fill in missing headers after the fact.
#headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
#         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
#         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
#         "peak-rpm","city-mpg","highway-mpg","price"]
#df.columns = headers

In [44]:
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [45]:
#data cleaning, data wrangling

In [46]:
#There are some question marks in there.  Where data collection person entered a question mark.
df.replace("?", np.nan, inplace = True)
df.head(5)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [47]:
#identify missing values

In [48]:
missing_data = df.isnull()
missing_data.head(5)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [49]:
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

symboling
False    205
Name: symboling, dtype: int64

normalized-losses
False    164
True      41
Name: normalized-losses, dtype: int64

make
False    205
Name: make, dtype: int64

fuel-type
False    205
Name: fuel-type, dtype: int64

aspiration
False    205
Name: aspiration, dtype: int64

num-of-doors
False    203
True       2
Name: num-of-doors, dtype: int64

body-style
False    205
Name: body-style, dtype: int64

drive-wheels
False    205
Name: drive-wheels, dtype: int64

engine-location
False    205
Name: engine-location, dtype: int64

wheel-base
False    205
Name: wheel-base, dtype: int64

length
False    205
Name: length, dtype: int64

width
False    205
Name: width, dtype: int64

height
False    205
Name: height, dtype: int64

curb-weight
False    205
Name: curb-weight, dtype: int64

engine-type
False    205
Name: engine-type, dtype: int64

num-of-cylinders
False    205
Name: num-of-cylinders, dtype: int64

engine-size
False    205
Name: engine-size, dtype: int64

fuel-system
False    205
Name: fuel-system, dtype: int64

bore
False    201
True       4
Name: bore, dtype: int64

stroke
False    201
True       4
Name: stroke, dtype: int64

compression-ratio
False    205
Name: compression-ratio, dtype: int64

horsepower
False    203
True       2
Name: horsepower, dtype: int64

peak-rpm
False    203
True       2
Name: peak-rpm, dtype: int64

city-mpg
False    205
Name: city-mpg, dtype: int64

highway-mpg
False    205
Name: highway-mpg, dtype: int64

price
False    201
True       4
Name: price, dtype: int64

In [50]:
#handle missing values

In [ ]:
In the results above, each column has 205 rows of data, and seven columns containing missing data:
<ol>
    <li>"normalized-losses": 41 missing data</li>
    <li>"num-of-doors": 2 missing data</li>
    <li>"bore": 4 missing data</li>
    <li>"stroke" : 4 missing data</li>
    <li>"horsepower": 2 missing data</li>
    <li>"peak-rpm": 2 missing data</li>
    <li>"price": 4 missing data</li>
</ol>
The idea is to visit each column with missing values in turn, and address it in one of the manners described below.

In [51]:
#Options include:
#Try to find the missing data by consulting the source.
#Remove the data that has the missing piece.
#Usually not a whole column unless most of the data in the column is missing.
#The whole variable or just the row with the missing element.
#Especially should drop a row if the target value is missing and needing supervised learning.
#Replace the missing data with a guess, such as the average or most common value of the other data.
#The source of the data might have extra knowledge about the data.  Something like "that field is often missing on older cars".
#Leave it missing.

In [52]:
#dropping rows with missing data.
#axis=0 means drop an entire row
#axis=1 means drop an entire column
#inplace=True means write the results back into the dataframe.
#in this example it is dropping a row from the "price" column.
#df.dropna(subset=["price"], axis=0, inplace=True)
#doing this without inplace=True won't change the data, but can display it during testing.
# reset index, because we droped two rows
#df.reset_index(drop=True, inplace=True)

In [53]:
#Check distribution.  To get a sense of the data.
#df.describe() # only numeric columns
#df[['bore','stroke']].describe() # describe only certain columns
#df.describe(include="all") # every column

In [ ]:
#Here is what the lab did.  See DA0101EN-Review-Data_Wrangling-py-v4pp.ipynb for rationale.
avg_norm_loss = df["normalized-losses"].astype("float").mean(axis=0)
print("Average of normalized-losses:", avg_norm_loss)
df["normalized-losses"].replace(np.nan, avg_norm_loss, inplace=True)
avg_bore=df['bore'].astype('float').mean(axis=0)
print("Average of bore:", avg_bore)
df["bore"].replace(np.nan, avg_bore, inplace=True)
avg_stroke=df['stroke'].astype('float').mean(axis=0)
df["stroke"].replace(np.nan, avg_stroke, inplace=True)
avg_horsepower = df['horsepower'].astype('float').mean(axis=0)
print("Average horsepower:", avg_horsepower)
df['horsepower'].replace(np.nan, avg_horsepower, inplace=True)
avg_peakrpm=df['peak-rpm'].astype('float').mean(axis=0)
print("Average peak rpm:", avg_peakrpm)
df['peak-rpm'].replace(np.nan, avg_peakrpm, inplace=True)
print(df['num-of-doors'].value_counts())
print(df['num-of-doors'].value_counts().idxmax())
#replace the missing 'num-of-doors' values by the most frequent 
df["num-of-doors"].replace(np.nan, "four", inplace=True)
# simply drop whole row with NaN in "price" column
df.dropna(subset=["price"], axis=0, inplace=True)
# reset index, because we droped two rows
df.reset_index(drop=True, inplace=True)
df.head()

In [54]:
df.dtypes # to see the types

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

In [14]:
#replacing with proper data types
df[["bore", "stroke"]] = df[["bore", "stroke"]].astype("float")
df[["normalized-losses"]] = df[["normalized-losses"]].astype("int")
df[["price"]] = df[["price"]].astype("float")
df[["peak-rpm"]] = df[["peak-rpm"]].astype("float")

ValueError: could not convert string to float: '?'

In [ ]:
#see
df.dtypes

In [ ]:
#data formatting
#standardize the values into the same format, unit, or convention.

In [ ]:
#Adjusting column data for every sample (row) in the column.
#This is just adding one, but it could also do things like convert miles to kilometers, etc.
#Convert New York to NY, etc.
df["symboling"] = df['symboling']+1

#another example:
df["city-mpg"]= 235/df["city-mpg"]
df.rename(columns={"city_mpg": "city-L/100km"}, inplace=True)  # Change the column heading to reflect what changed.

#numbers of type object needing to be converted to a number
df["price"] = df["price"].astype("int")

In [ ]:
#replacing missing values with the mean value
mean = df["normalized-losses"].mean()
df["normalized-losses"].replace(np.nan, mean)

In [ ]:
#replacing category values with the most common.
df['num-of-doors'].value_counts()
df['num-of-doors'].value_counts().idxmax()
#replace the missing 'num-of-doors' values by the most frequent 
df["num-of-doors"].replace(np.nan, "four", inplace=True)

In [ ]:
#data normalization (centering / scaling)

In [ ]:
# It may involve changing all values for a column to be between zero and one retaining same proportions with each other.

In [ ]:
#simple scaling
df["length"] = df["length"]/df["length"].max()
#min-max
df["length"] = (df["length"]-df["length"].min())/(df["length"].max()-df["length"].min())
#z-score.  Mostly -3 to +3.
df["length"] = (df["length"]-df["length"].mean())/df["length"].std()

In [ ]:
#save the adjusted data
df.to_csv("automobile.csv", index=False)

In [ ]:
#data binning

In [ ]:
#Bins covering equal sized ranges of the range of a value.
bins = np.linspace(min(df["price"]), max(df["price"]), 4)  # four equally spaced numbers covering the whole range of prices.
    #which results in two on each end, and then two more that break the range into 3 equally sized areas 'bins'.
group_names["Low","Medium","High"]
df["price-binned"]=pd.cut(df["price"], bins, labels=group_names, include_lowest=True)

#Seeing the number of items in each bin
df["price-binned"].value_counts()

In [ ]:
#histograph of a field to get an idea what bins might be there.
%matplotlib inline
import matplotlib as plt
from matplotlib import pyplot
plt.pyplot.hist(df["horsepower"])

# set x/y labels and plot title
plt.pyplot.xlabel("horsepower")
plt.pyplot.ylabel("count")
plt.pyplot.title("horsepower bins")

In [ ]:
#histograph to see the names of the bins with how many of each are in the data frame.
%matplotlib inline
import matplotlib as plt
from matplotlib import pyplot
pyplot.bar(group_names, df["horsepower-binned"].value_counts())

# set x/y labels and plot title
plt.pyplot.xlabel("horsepower")
plt.pyplot.ylabel("count")
plt.pyplot.title("horsepower bins")

In [ ]:
#Visualizing the actual bins
%matplotlib inline
import matplotlib as plt
from matplotlib import pyplot

a = (0,1,2)

# draw historgram of attribute "horsepower" with bins = 3
plt.pyplot.hist(df["horsepower"], bins = 3)

# set x/y labels and plot title
plt.pyplot.xlabel("horsepower")
plt.pyplot.ylabel("count")
plt.pyplot.title("horsepower bins")

In [ ]:
#Turn categorical values to quantitative (numeric) variables

In [ ]:
#One-hot encoding adds a column with a 0,1 flag for each category in another column.
#The new columns are "dummy variables" or "indicator variables".
dummy_variable_1 = pd.get_dummies(df["fuel-type"])
dummy_variable_1.head()
#Change column names if the values are not clear.
dummy_variable_1.rename(columns={'fuel-type-diesel':'gas', 'fuel-type-diesel':'diesel'}, inplace=True)
dummy_variable_1.head()
# merge data frame "df" and "dummy_variable_1" 
df = pd.concat([df, dummy_variable_1], axis=1)
# drop original column "fuel-type" from "df"
df.drop("fuel-type", axis = 1, inplace=True)